*{
    margin: 0px;
    padding: 0px;
}

.container{
    display : flex;
    flex-direction: column;
    align-items: center;
}

/*navbar*/

.header nav{
    display:flex;
    align-items: center;
    width: 1920px;
    height: 80px;
    margin: 0px;
    padding: 0px;
}


.header nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.header nav img{
    margin-left: 80px;
}

.header nav ul li{
    float: left;
}

.header .pages{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    color: #4558FF;

    margin-left: 810px;
}

.header .pages li{
    margin-right: 130px;
}

#end{
    margin-right: 0px;
}

#login_bar{
    padding-right: 15px;
    border-right: 1px solid #C6C6C6
}

.header .login{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 22px;
    color: #9F9F9F;

    margin-left: 90px;
}

.header .login li{
    margin-right: 15px;
}

/*video*/

.video{
    width: 1920px;
    height: 1080px;
    background-color: grey;
}

/*main*/

h2{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    color: #4558FF;
    align-self: flex-start;
    padding-left: 450px;
    padding-top: 60px;
    padding-bottom: 60px;
    margin: 0px;
}

.container .section{
    display: flex;
    flex-direction: column;
}

.container .program, .container .book, .container .resource{
    width: 1920px;
    height: 566px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 46px;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.05);
}

#circle-bg{
    background: #ECEEFF;
    width: 450px;
    height: 450px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

img .container{
    padding: 0px;
    margin: 0px;
}

#left{
    padding-left: 450px;
}

#right{
    padding-right: 450px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#desc1{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 35px;
    padding-bottom: 178px;
}

#desc2{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    padding-bottom: 25px;
}

.button{
    background: #FFFFFF;
    border: 2px solid #4558FF;
    box-sizing: border-box;
    border-radius: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 60px;
    width: 260px;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 36px;
    color: #4558FF;

    transition: background 0.15s ease-in-out, color 0.25s ease-in-out;
}

.button:hover {
    background: #4558FF;
    color: #FFFFFF;
}

/*footer*/

.footer{
    display: flex;
    flex-direction: column;
    width: 1920px;
    height: 500px;
    margin: 0 55px 0 55px;
    align-items: center;
}

.blank{
    width: 1810px;
    height: 220px;
    border-bottom: solid 1px gray;
}

.info{
    width: 1810px;
    height: 50px;
    padding-top: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.media{
    padding-top: 134px;
    align-self: flex-start;
    margin: 0 55px 0 55px;
}

.media img{
    margin-right: 28px;
}

#copyright{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}

#address{
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
}

.links{
    list-style-type: none;
}

.links li{
    float: left;
    padding: 0 28px 0 28px;
    border-right: solid 1px #C6C6C6;

    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: 900;
    font-size: 15px;
    line-height: 24px;
    color: #4558FF;
}

#endsection{
    box-shadow: 0px 0px;
}

#endlinks{
    border-right: 0px;
}

#flex-img1{
    position: absolute;
    top: 1446px;
    z-index: 1;
}

#flex-img1-hover{
    position: absolute;
    top: 1446px;
    display: none;
    z-index: 2;
}

#flex-img2{
    position: absolute;
    top: 2204px;
    z-index: 1;
}

#flex-img2-hover{
    position: absolute;
    top: 2204px;
    display: none;
    z-index: 2;
}

#flex-img3{
    position: absolute;
    top: 2962px;
    z-index: 1;
}

#flex-img3-hover{
    position: absolute;
    top: 2962px;
    display: none;
    z-index: 2;
}